@import "../index.scss";

.--user-profile {
    margin-bottom: $margin-secondary;
    .--user-profile-data {
        border: 1px solid $light-grey;
        background-color: $background-light;
        margin: $margin-primary 0px;
        padding: $padding-primary 0px;

        .--user-profile-avatar {
            border-radius: 50%;
            max-width: 70%;
            border: 2px solid $primary;
            padding: $padding-separation;
            margin: 0px $margin-secondary;
        }

        .--user-profile-desc {
            text-align: left;
            .--user-profile-user {
                font-size: 20px;
            }

            .--user-profile-info {
                font-size: 14px;
            }
        }
    }

    .--user-profile-pictures-wrapper {
        .--user-profile-picture {
            width: 100%;
            &:hover {
                transform: scale(1.3);
                transform-origin: center;
                cursor: pointer;
                z-index: 1;
            }
            transition: transform 0.2s ease;
        }
    }
}
