@import "./scss/index.scss";
@import "./scss/components/navbar.scss";
@import "./scss/components/story.scss";
@import "./scss/components/publication.scss";
@import "./scss/components/userProfile.scss";
@import "./scss/components/carousel.scss";
@import "./scss/components/message.scss";
@import "./scss/components/popover.scss";

body {
    background-color: $background-light-grey;
    margin: 0;
    top: 0; 
    overflow-x: hidden;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial,sans-serif;
}

a {
    color: inherit !important;
    text-decoration: none;
}