$primary: #d80065;
$primary-light: #db9dba;
$primary-light-grey: #fcfafa;
$primary-dark: #1a1814;
$primary-dark-grey: #474333;

$light: #ffffff;
$light-grey: #dbdbdb;
$dark: #010101;

$danger: #e02424;
$success: #58c058;
$like: #ff0000c7;

$font-primary: $primary;
$font-light: $light;
$font-dark: $dark;

$background-primary: $primary;
$background-primary-light: $primary-light;
$background-primary-dark: $primary-dark;
$background-light: $light;
$background-light-grey: $primary-light-grey;
$background-dark: $dark;

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);